extends layout
block content
  h1= title
  - let items = results
  div(class="container-fluid")
    div(class="row")
      each wallets,index in results
        div(class="col-sm-2")
          h6 wallet #{index + 1}
          p #{wallets.wallets_type} 
          p #{wallets.wallets_color} 
          p #{wallets.wallets_capacity}
          div(onclick=`buy(${index})`, class="btn btn-primary") Buy
 
  script.
    function buy(index) {
      alert(`You purchased item ${index + 1}`);
    }