extends layout
 
block content
  h1= title
  .container-fluid
    .row
      - for (let w of ad)
        .col-sm-2
          p WalletsType: #{w.wallets_type}
          p WalletsColor: #{w.wallets_color}
          p WalletsCapacity : #{w.wallets_capacity}
         
  br
  h3= 'Buy'
 
  div(class="container-fluid")
    each w,index in ad
      div(class="row", onclick=`buy(${index})`)
        div(class="col-sm-2") <br>Wallets #{index}: #{w.wallets_type} Color: #{w.wallets_color} Capacity:#{w.wallets_capacity}
  script.
        function buy(p){
          alert('You Purchased item ' + (p+1))    
        }
 
 