extends layout
block content
  h1= title
  - let items = results
  div(class="container-fluid")
    div(class="row")
      each wallets,index in results
        div(class="col-sm-2")
          h6 wallet #{index + 1}
          p #{wallets.wallets_type} 
          p #{wallets.wallets_color} 
          p #{wallets.wallets_capacity}
          div(onclick=`buy(${index})`, class="btn btn-primary") Buy
          button.btn( class="btn-primary ml-1", onclick= `dispatch(\"/wallets/update?id=${wallets._id}\")`) Update

  script.
    function buy(p) {
      alert(`You purchased item`+ (p+1));
    }

    function dispatch(path) {
      window.location.href=path
    }